<table class="table">
    {{#if headers}}
    <thead>
    <tr>
      {{#each headers as |header|}}
          <th>{{header}}</th>
      {{/each}}
    </tr>
    </thead>
    {{/if}}
    <tbody>
    {{#each items as |item|}}
        <tr class="browser-table-item {{item.class}}" {{action "itemClicked" item.id}}
          {{action "doubleClicked" item.id on="doubleClick" }}>
          {{#each item.values as |column|}}
              <td>{{column}}</td>
          {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>