<table class="table">
  {{#if showHeaders}}
      <thead>
      <tr>
        {{#each headers as |header|}}
            <th>{{header.display}}</th>
        {{/each}}
      </tr>
      </thead>
  {{/if}}
    <tbody>
    {{#each sortedItems as |item|}}
        <tr class="browser-table-item {{if item.playing "playing" ""}}" {{action "itemClicked" item}}
          {{action "doubleClicked" item on="doubleClick"}}>
          {{#each headers as |header|}}
              <td>{{hash-table-lookup item header}}</td>
          {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>