<div class="now-playing row">
    <div class="time col-md-3">
        {{time}}
    </div>
    <div class="col-md-9">
        <div class="whats-playing text-right">
            {{trackTitle}}
        </div>
        <div class="specs row">
            <div class="col-md-6 spec-status">
                <span class="glyphicon glyphicon-{{statusIcon}}" aria-hidden="true"></span>
            </div>
            <div class="col-md-2">
                {{bitRate}} <span class="dark">KBPS</span>
            </div>
            <div class="col-md-2">
                {{sampleRate}} <span class="dark">KHZ</span>
            </div>
            <div class="col-md-2">
                <span class="dark">{{channels}}</span>
            </div>
        </div>
    </div>
</div>
<div class="eq-volume row">
    <div class="eq col-md-6">

    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-played" role="progressbar" aria-valuenow="{{percentComplete}}" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
    </div>
    <div class="progress-bar progress-buffered" role="progressbar" aria-valuenow="{{bufferedAhead}}" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
    </div>
</div>
<div class="controls">
    <button type="button" class="btn btn-default btn-xs" {{action "prev"}}>
        <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs" {{action "play"}}>
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs" {{action "pause"}}>
        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs" {{action "stop"}}>
        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default btn-xs" {{action "next"}}>
        <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
    </button>
</div>
<!--<canvas id="canvas"></canvas>-->