<div class="row">
    <div class="col-md-4 album-art-column">
        <img class="album-art-img" src="{{track.album.image}}" />
    </div>
    <div class="col-md-8 details-spec">
        <div><span class="detail-light">Title:</span> {{track.name}}</div>
        <div><span class="detail-light">Artist:</span> {{track.artist.name}}</div>
        <div><span class="detail-light">Album:</span> {{track.album.name}}</div>
        <div><span class="detail-light">Track:</span> {{track.trackNum}}</div>
        <div><span class="detail-light">Genre:</span> {{track.genre}}</div>
        <div><span class="detail-light">Length:</span> {{duration}}</div>
    </div>
</div>